<%-include("./layouts/head.ejs")%>
<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-6 mb-6 text-center mx-auto">
      <div class="logo mt-4 mb-2">
        <i class="fas fa-user-astronaut fa-10x mt-4 mb-4"></i>
      </div>
      <p>Faeshal Bin Sulaiman</p>
      <p>Faeshal111@gmail.com</p>
      <p>Handcraft using <a class="font-weight-bold" href="https://expressjs.com/">Express</a></p>
    </div>
  </div>
</div>
<%-include("./layouts/footer.ejs")%>
